.animate {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
}
.animate.show {
    opacity: 1;
    transform: translateY(0);
}
/* Definição inicial das divs ocultas e fora da tela */
.from-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.8s ease-in-out;
}

.from-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.8s ease-in-out;
}

/* Quando as divs entrarem na tela, aplicamos a animação */
.show {
    opacity: 1;
    transform: translateX(0);
}