<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>12.6</string>
	<key>CFBundleVersion</key>
	<string>1851.6.0.701.1</string>
	<key>ProjectName</key>
	<string>MCXTools</string>
	<key>SourceVersion</key>
	<string>1851006000701001</string>
</dict>
</plist>
