<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ManagedClientMSExtension</string>
	<key>CFBundleExecutable</key>
	<string>ManagedSettingsMacOSExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ManagedSettings.ManagedSettingsMacOSExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ManagedSettingsMacOSExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>PROJECT_SHORT_VERSION</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>PROJECT_VERSION</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24G805</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.7</string>
	<key>DTSDKBuild</key>
	<string>24G805</string>
	<key>DTSDKName</key>
	<string>macosx15.7.internal</string>
	<key>DTXcode</key>
	<string>1630</string>
	<key>DTXcodeBuild</key>
	<string>16E6052g</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.7</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>SettingsGroups</key>
			<array>
				<string>account</string>
				<string>airDrop</string>
				<string>application</string>
				<string>appStore</string>
				<string>calculator</string>
				<string>camera</string>
				<string>dateAndTime</string>
				<string>faceTime</string>
				<string>findMy</string>
				<string>gameCenter</string>
				<string>intelligence</string>
				<string>keyboard</string>
				<string>media</string>
				<string>messages</string>
				<string>news</string>
				<string>passcode</string>
				<string>safari</string>
				<string>siri</string>
				<string>webContent</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ManagedSettings.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>ManagedClientMSExtension</string>
	</dict>
</dict>
</plist>
